 .logo{
     
     font-weight: 900;
 }
 .logo-link{
    text-decoration: none;
    color: red;
}

 .menu{
    color: chocolate;
    font-size: 20px;
    padding: 20px 0px 10px;
 }
.menu-item{
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
}

